* {
  font-family: 'Poppins', sans-serif;
}

.main {
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}

.left {
  background-color: rgb(0, 85, 255);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 48px;
  color: #fff;
}

.text p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #fff;
}

.text .sign-in {
  background-color: rgb(0, 85, 255);
  color: #fff;
  margin-top: 30px;
  font-size: 20px;
  border-radius: 50px;
  border-color: #fff;
}

.left {
  background-image: url('foto/istockphoto-538041843-612x612-removebg-preview.png');
  background-size: auto 90%;
  background-repeat: no-repeat;
  background-position: bottom;
}

.right {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.right h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  color: rgb(0, 85, 255);
}

.facebook {
  margin-right: 40px;
}

.instagram {
  margin-right: 40px;
}

.form-control {
  margin-top: 20px;
  font-weight: 500;
}

.form .sign-up {
  width: 100px;
  height: 42px;
  margin-top: 20px;
  background: rgb(0, 85, 255);
  border-radius: 50px;
  color: #fff;
  border: none;
}

/* LOGIN PENCARI KOS */
.akun {
  width: -500px;
}